@page
@using TasksWebApp.ViewModels
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var item in @Model.TodoItems)
        {
            <div class="col-lg-6 py-2">
                <div class="card active-box flex-row flex-wrap" id="contacts-nav-box" style="min-width:22rem">
                    <div class="mx-auto align-self-center p-3"><i class="fa fa-solid fa-list-alt fa-4x home-icon"></i></div>
                    <div class="card-block flex-fill mx-auto p-2">
                        <h3 class="card-title">@item.Title</h3>
                        <p class="card-text" style="min-width:22rem"> @item.Description</p>
                    </div>
                </div>
            </div>
        }
       

    </div>
</div>


